Builds/
JuceLibraryCode/
VST3 Builds/

# Platform-specific JUCE submodule builds
libs/JUCE/extras/Projucer/Builds/
libs/JUCE/extras/AudioPluginHost/Builds/
libs/JUCE/extras/AudioPluginClient/Builds/
libs/JUCE/extras/Projucer/JuceLibraryCode/
libs/JUCE/modules/JuceLibraryCode/

# Workspace specific
*.sln
*.vcxproj
*.xcworkspace
*.xcodeproj
.DS_Store
